In [1]:
import pandas as pd
import os

os.chdir(os.getcwd()+'/data')

datafile = "2004_2016_airline_delay_causes.csv"

delay=pd.read_csv(datafile)

In [2]:
#delay.head()
delay.columns

Index(['year', ' month', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'arr_flights', 'arr_del15', 'carrier_ct', ' weather_ct', 'nas_ct',
       'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted',
       ' arr_delay', ' carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'Unnamed: 21'],
      dtype='object')

In [3]:
delay_group=delay.groupby(['year',' month']).sum()

In [4]:
delay_group=delay_group.drop(['carrier_ct', ' weather_ct', 'nas_ct',
                              'security_ct', 'late_aircraft_ct', 'arr_cancelled', 
                              'arr_diverted','Unnamed: 21'], axis = 1)

In [5]:
delay_group.head()

             arr_flights  arr_del15   arr_delay   carrier_delay  \
year  month
2004 1          583987.0   128236.0   6509522.0       1723185.0
     2          553876.0   114517.0   5388895.0       1331459.0
     3          601412.0   104031.0   4986958.0       1288518.0
     4          582970.0    93754.0   4217846.0       1161420.0
     5          594457.0   121019.0   6981742.0       1521686.0

             weather_delay  nas_delay  security_delay  late_aircraft_delay
year  month
2004 1            537786.0  2310463.0         15364.0            1922724.0
     2            364234.0  1996455.0         11295.0            1685452.0
     3            214701.0  1787331.0          8872.0            1687536.0
     4            191870.0  1505284.0          9601.0            1349671.0
     5            529168.0  2665016.0          8724.0            2257148.0

In [6]:
delay_group = delay_group.reset_index()
delay_group = delay_group.rename(columns={' month':'month'})

In [7]:
delay_group_cause = delay_group.melt(id_vars=['year','month','arr_flights', 'arr_del15',' arr_delay'], var_name='delay_type')

In [8]:
delay_group_cause.head()

   year  month  arr_flights  arr_del15   arr_delay      delay_type      value
0  2004      1     583987.0   128236.0   6509522.0   carrier_delay  1723185.0
1  2004      2     553876.0   114517.0   5388895.0   carrier_delay  1331459.0
2  2004      3     601412.0   104031.0   4986958.0   carrier_delay  1288518.0
3  2004      4     582970.0    93754.0   4217846.0   carrier_delay  1161420.0
4  2004      5     594457.0   121019.0   6981742.0   carrier_delay  1521686.0

In [9]:
delay_group_cause.to_csv('flight_delay.csv', encoding='utf-8')